.con{
	width: 100%;
	padding-bottom:20px;
}
.con_ani_one{
	position: absolute;
	left:5px;
	z-index:1;
	margin-left:60px;
	border:10px solid #f09f11;
	width: 140px;
	height: 140px;
	background:#f3a722;
	@include border-radius(50%);
	@include animation(move 9s infinite);
	&:hover{
		@include transform(scaleX(1.4) scaleY(1.4));
		background:#fff;
		border:13px solid #f09f11;
		.con_ani_one_in{
			border-color:rgba(0,0,0,0);
			p{
			color:#f09f11;
			font-size:18px;
		}
		}
	}
} 

@include keyframes(move){
	0%{
		top:0px;
	}
	50%{
		top:30px;
	}
	100%{
		top:0px;
	}
}
.con_ani_one .con_ani_one_in{
	position:relative;
	border:10px solid #f1a217;
	width: 120px;
	height: 120px;
	@include border-radius(50%);
}
.con_ani_one_in p{
	padding-left: 30px;
	padding-top: 15px;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
.con_ani_one_in p span{
	font-size:30px;
	margin-left:-17px;
	padding-right:5px;
}
.con_ani_two{
	
	z-index:1;
	position:absolute;
	left:270px;
	border:10px solid #7dbe0f;
	width: 110px;
	height: 110px;
	background:#85c51e;
	@include border-radius(50%);
	@include animation(move 9s 2s infinite);
	&:hover{
		@include transform(scaleX(1.4) scaleY(1.4));
		background:#fff;
		border:13px solid  #7dbe0f;
		.con_ani_one_in{
			border-color:rgba(0,0,0,0);
			p{
			color:#7dbe0f;
			font-size:18px;
		}
		}
	}
} 
.con_ani_two .con_ani_one_in{
	position:relative;
	border:10px solid #81c117;
	width: 90px;
	height: 90px;
	@include border-radius(50%);
}
.con_ani_three{
	position:absolute;
	left:450px;
	border:10px solid #2ba8d7;
	width: 120px;
	height: 120px;
	background:#32addb;
	@include border-radius(50%);
	@include animation(move 9s 1s infinite);
	&:hover{
		@include transform(scaleX(1.4) scaleY(1.4));
		background:#fff;
		border:13px solid  #2ba8d7;
		.con_ani_one_in{
			border-color:rgba(0,0,0,0);
			p{
			color:#2ba8d7;
			font-size:17px;
		}
		}
	}

} 
.con_ani_mini_one,.con_ani_mini_two{
	
	width: 70px;
	height:70px;
	background:#eee;
	@include border-radius(50%);
	
}
.con_ani_mini_one{
	position:absolute;
	left:220px;
	@include animation(move 6s infinite);
}
.con_ani_mini_two{
	position:relative;
	left:420px;
	@include animation(move 10s 1s infinite);
}
.con_lft{
	width: 630px;
	padding:20px;
	@include box-shadow(#bbb 2px 1px 7px);
	@include border-radius(13px);
	float:left;
	margin-left:170px;
	background:#fff;
	h3{
		text-align:center;
		font-size:22px;
		font-weight:normal;
		padding-top:20px;
		color:#666;
	}
}
.con_lft_ani{
	width: 100%;
	position: relative;
	padding: 120px 0;
    margin-top: 40px;
}
.con_lft_tab{
	
	width:100%;
	border:1px solid #ececec;
	margin-bottom:25px;
	@include border-radius(10px);
	@include box-shadow(#d4d4d4 0 0 8px);
}
.tab_one,.tab_two{
	float:left;
	width:50%;
	text-align:center;
	color:#666;
	font-size:17px;
	padding:5px 0;
	cursor:pointer;
}
.tab_one{
	@include border-top-left-radius(10px);
}
.tab_two{
	@include border-top-right-radius(10px);
}
.con_icon_one,.con_icon_two,.con_icon_three{
	float:left;
	width: 150px;
	padding-left: 43px;
	margin-top: 20px;
	img{
		float:left;
		position: relative;
		top:-8px;
		left:-7px;
		background:rgba(0,0,0,0.05);
		@include border-radius(50%);
	}
	p{
		font-size:15px;
		color:#666;
		span{
			color:#f4aa28;
			font-size:18px;
		}
	}

}
.con_icon_one{
	margin-left:40px;
}
.tab_active{
	background:#85c51f;
	color:#fff;
}
.tab_one_show{
	.svg_pic1{
		padding-top:20px;
		float:left;
		position: relative;
		.pic1_title{
			h4{
				font-size:17px;
				font-weight:bold;
				color:#666;
				position: absolute;
			    top: 113px;
			    left: 110px;
			}
			p{
				position: absolute;
			    top: 134px;
			    left: 123px;
				font-size:13px;
				color:#666;
				span{
					color:#f5b036;
					font-size:18px;
				}
			}
		}
		span{
			font-size:12px;
			color:#666;
		}
	}
	.svg_pic2{
		width:40%;
        float: left;
        margin-left:40px;
        padding-top:40px;
		.fire{
			color:#666;
			font-size:14px;
			margin-left: 20px;
		}
		.fire_svg_pic_one{
			position: relative;
			left:-30px;
			.fire_data{
				color:#666;
				font-size:16px;
				.data1{
					position: absolute;
					top: 105px;
					left: 69px;
				}
				.data2{
					position: absolute;
					top: 113px;
					left: 112px;
				}
				.data3{
					position: absolute;
					top: 115px;
				    left: 150px;
				}
				.data4{
					position: absolute;
				    top: 48px;
				    left: 176px;
				}
				.data5{
					position: absolute;
					top: 117px;
					left: 225px;
				}
			}
			.fire_day{
				color:#666;
				font-size:12px;
				position: absolute;
			    bottom: 30px;
			    left:64px;
				span{
					padding-left:2px;
				}
			}
		}
		.fire_svg_pic_two{
			position: relative;
			left:-30px;
			.fire_data{
				color:#666;
				font-size:16px;
				.data1{
					position: absolute;
					top: 105px;
					left: 73px;
				}
				.data2{
					position: absolute;
					top: 97px;
					left: 118px;
				}
				.data3{
					position: absolute;
					top: 49px;
				    left: 164px;
				}
				.data4{
					position: absolute;
				    top: 114px;
				    left: 215px;
				}
			}
			.fire_day{
				color:#666;
				font-size:12px;
				position: absolute;
			    bottom: 30px;
			    left:69px;
				span{
					padding-right:11px;
				}
			}
		}
	}
}
.sport_tab{
	float:left;
	ul{
		.active{
			color:#f4aa28;
			background:#fff;
			border:1px solid #ccc;
			border-right-color:#fff;
			a{
				color:#f4aa28;
			}
		}
		li{
			width: 45px;
			background-color:#f4aa28;
			font-size:14px;
			color:#fff;
			@include border-left-radius(9px);
			padding:7px 13px;
			margin-top:10px;
			 a{
				text-decoration:none;
				color:#fff;
			} 
		}
	}
}
.sport_pic{
	float:left;
	@include border-radius(7px);
	border:1px solid #ccc;
	width: 550px;
	height:412px;
	margin-top:9px;
	margin-left:-2px;
	.day{
		margin-left:120px;
		margin-top:5px;
		 .d_active{
			p{
				background:#85c51f;
				color:#fff;
				span{
					border-color:#85c51f transparent transparent transparent;
				}
			}
		} 
		div{
			cursor:pointer;
			float:left;
			margin-left:30px;
			padding-bottom:20px;
			p{
				background:#eee;
				@include border-radius(3px);
				padding:2px 0 2px 10px;
				font-size:15px;
				color:#333;
				span{
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 7px 6px 0 6px;
					border-color:#fff transparent transparent transparent;
				    position: relative;
				    top: 29px;
				    left: -20px;
				}
			}
		}
	}
	.pic{
		.pic_no_sport,.pic_no_weight,.pic_no_bldPre,.pic_no_bldSug{
			position: relative;
			width: 80%;
			color:#FFA300;
			text-align:center;
			font-size:24px;
			padding-left:30px;
			margin-top:0px;
			margin-bottom:30px;
			@include animation(mymove 8s linear 1s infinite);
		}
		.svg_bldPre{
			.svg_bldPre_title{
				text-align:center;
				color:#666;
				font-weight:bold;
			}
			.svg_bldPre_main{
				position: relative;
				top:-25px;
				.svg_comment{
					font-size:11px;
					position: absolute;
				}
				.svg_table{
					border:1px solid #eee;
					border-left-color:#000;
					border-bottom-color:#000;
					width: 424px;
					height: 180px;
					position: absolute;
					top: 59px;
					left: 56px;
					
					.data_one{
						
						border:1px solid #ccc;
						border-right-color:#fff;
						height:100%;
						width:0px;
						margin-left:54px;
						margin-top:-183px;
					}
					.data_two{
						
						border:1px solid #ccc;
						border-right-color:#fff;
						height:100%;
						width:0px;
						margin-left:160px;
						margin-top:-183px;
					}
					.data_three{
						
						border:1px solid #ccc;
						border-right-color:#fff;
						height:100%;
						width:0px;
						margin-left:267px;
						margin-top:-183px;
					}
					.data_four{
						
						border:1px solid #ccc;
						border-right-color:#fff;
						height:100%;
						width:0px;
						margin-left:373px;
						margin-top:-183px;
					}
					.data_show_one,.data_show_two,.data_show_three,.data_show_four{
						
						width:140px;
						@include border-radius(3px);
						border:1px solid #ccc;
						position: absolute;
						span{
							font-size:12px;
							padding-left:5px;
							font-weight:bold;
							
						}
					}
				}
				.svg_table_data{
						span{
						position: absolute;
						height:100%;
						width:40px;
						font-size:11px;
						color:#666;
					}
				}
				.table_day{
					position: absolute;
					bottom:48px;
					font-size:12px;
				}
			}
		}
	}
	
}
.hide{
	display:none;
}
@include keyframes(mymove){
	0%{
		top:0px;
	}
	50%{
		top:130px;
	}
	100%{
		top:0px;
	}
}

