/* line 6, ../sass/head.scss */
* {
  margin: 0;
  padding: 0;
  font-family: microsoft yahei,tahoma,arial,\5b8b\4f53,sans-serif !important;
  font-weight: normal;
}

/* line 12, ../sass/head.scss */
ul, ol {
  list-style: none;
}

/* line 15, ../sass/head.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../sass/head.scss */
body {
  background-color: #f8faf3;
}

/* line 21, ../sass/head.scss */
.header {
  background-color: #669900;
  border-bottom: 3px solid #bed299;
}
/* line 24, ../sass/head.scss */
.header .Main_header {
  margin: 0 auto;
  width: 80%;
}
/* line 27, ../sass/head.scss */
.header .Main_header .logo {
  float: left;
  width: 11%;
  margin-top: 14px;
}
/* line 32, ../sass/head.scss */
.header .Main_header .Tab_head {
  margin-left: 135px;
}
/* line 34, ../sass/head.scss */
.header .Main_header .Tab_head .h_active {
  background: #507110 !important;
}
/* line 37, ../sass/head.scss */
.header .Main_header .Tab_head li {
  display: inline-block;
  font-size: 17px;
  color: white;
  margin: 16px 0.5px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  padding: 5px 19px;
}
/* line 44, ../sass/head.scss */
.header .Main_header .Tab_head li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 47, ../sass/head.scss */
.header .Main_header .Tab_head li a {
  color: #fff;
  text-decoration: none;
}

/* line 56, ../sass/head.scss */
.user_msg {
  float: right;
  position: relative;
  top: -39px;
}

/* line 61, ../sass/head.scss */
.user_msg_d {
  float: right;
  width: 8px;
  height: 8px;
  background: #f4aa28;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  top: -42px;
  left: 28px;
}

/* line 71, ../sass/head.scss */
.user {
  position: relative;
}
/* line 73, ../sass/head.scss */
.user .user_main {
  background-color: #c0d29e;
  width: 16%;
  float: right;
  position: relative;
  top: -53px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
  border-radius: 23px;
  margin-right: 6px;
}
/* line 81, ../sass/head.scss */
.user .user_main .user_pic {
  float: left;
  width: 36px;
  margin: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 87, ../sass/head.scss */
.user .user_main .user_name {
  padding-left: 55px;
  font-size: 15px;
  color: #709e18;
  margin-top: 13px;
  cursor: pointer;
}
/* line 94, ../sass/head.scss */
.user .user_main .user_more {
  position: relative;
  top: -11px;
  left: -13px;
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7px 0 7px;
  border-color: #709e18 transparent transparent transparent;
}
/* line 106, ../sass/head.scss */
.user .user_hide {
  display: none;
  position: absolute;
  top: -10px;
  right: 50px;
  z-index: 1;
  background: #fff;
}
/* line 114, ../sass/head.scss */
.user .user_hide ul li {
  font-size: 11px;
  margin: 17px 50px 25px 25px;
}
/* line 117, ../sass/head.scss */
.user .user_hide ul li a {
  text-decoration: none;
  color: #666;
}
/* line 120, ../sass/head.scss */
.user .user_hide ul li a:hover {
  color: #85c51f;
}

/* line 1, ../sass/main_left.scss */
.con {
  width: 100%;
  padding-bottom: 20px;
}

/* line 5, ../sass/main_left.scss */
.con_ani_one {
  position: absolute;
  left: 5px;
  z-index: 1;
  margin-left: 60px;
  border: 10px solid #f09f11;
  width: 140px;
  height: 140px;
  background: #f3a722;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: move 9s infinite;
  -webkit-animation: move 9s infinite;
  animation: move 9s infinite;
}
/* line 16, ../sass/main_left.scss */
.con_ani_one:hover {
  -moz-transform: scaleX(1.4) scaleY(1.4);
  -ms-transform: scaleX(1.4) scaleY(1.4);
  -webkit-transform: scaleX(1.4) scaleY(1.4);
  transform: scaleX(1.4) scaleY(1.4);
  background: #fff;
  border: 13px solid #f09f11;
}
/* line 20, ../sass/main_left.scss */
.con_ani_one:hover .con_ani_one_in {
  border-color: transparent;
}
/* line 22, ../sass/main_left.scss */
.con_ani_one:hover .con_ani_one_in p {
  color: #f09f11;
  font-size: 18px;
}

@-moz-keyframes move {
  0% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0px;
  }
}
/* line 41, ../sass/main_left.scss */
.con_ani_one .con_ani_one_in {
  position: relative;
  border: 10px solid #f1a217;
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 48, ../sass/main_left.scss */
.con_ani_one_in p {
  padding-left: 30px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

/* line 55, ../sass/main_left.scss */
.con_ani_one_in p span {
  font-size: 30px;
  margin-left: -17px;
  padding-right: 5px;
}

/* line 60, ../sass/main_left.scss */
.con_ani_two {
  z-index: 1;
  position: absolute;
  left: 270px;
  border: 10px solid #7dbe0f;
  width: 110px;
  height: 110px;
  background: #85c51e;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: move 9s 2s infinite;
  -webkit-animation: move 9s 2s infinite;
  animation: move 9s 2s infinite;
}
/* line 71, ../sass/main_left.scss */
.con_ani_two:hover {
  -moz-transform: scaleX(1.4) scaleY(1.4);
  -ms-transform: scaleX(1.4) scaleY(1.4);
  -webkit-transform: scaleX(1.4) scaleY(1.4);
  transform: scaleX(1.4) scaleY(1.4);
  background: #fff;
  border: 13px solid  #7dbe0f;
}
/* line 75, ../sass/main_left.scss */
.con_ani_two:hover .con_ani_one_in {
  border-color: transparent;
}
/* line 77, ../sass/main_left.scss */
.con_ani_two:hover .con_ani_one_in p {
  color: #7dbe0f;
  font-size: 18px;
}

/* line 84, ../sass/main_left.scss */
.con_ani_two .con_ani_one_in {
  position: relative;
  border: 10px solid #81c117;
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 91, ../sass/main_left.scss */
.con_ani_three {
  position: absolute;
  left: 450px;
  border: 10px solid #2ba8d7;
  width: 120px;
  height: 120px;
  background: #32addb;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: move 9s 1s infinite;
  -webkit-animation: move 9s 1s infinite;
  animation: move 9s 1s infinite;
}
/* line 100, ../sass/main_left.scss */
.con_ani_three:hover {
  -moz-transform: scaleX(1.4) scaleY(1.4);
  -ms-transform: scaleX(1.4) scaleY(1.4);
  -webkit-transform: scaleX(1.4) scaleY(1.4);
  transform: scaleX(1.4) scaleY(1.4);
  background: #fff;
  border: 13px solid  #2ba8d7;
}
/* line 104, ../sass/main_left.scss */
.con_ani_three:hover .con_ani_one_in {
  border-color: transparent;
}
/* line 106, ../sass/main_left.scss */
.con_ani_three:hover .con_ani_one_in p {
  color: #2ba8d7;
  font-size: 17px;
}

/* line 114, ../sass/main_left.scss */
.con_ani_mini_one, .con_ani_mini_two {
  width: 70px;
  height: 70px;
  background: #eee;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 122, ../sass/main_left.scss */
.con_ani_mini_one {
  position: absolute;
  left: 220px;
  -moz-animation: move 6s infinite;
  -webkit-animation: move 6s infinite;
  animation: move 6s infinite;
}

/* line 127, ../sass/main_left.scss */
.con_ani_mini_two {
  position: relative;
  left: 420px;
  -moz-animation: move 10s 1s infinite;
  -webkit-animation: move 10s 1s infinite;
  animation: move 10s 1s infinite;
}

/* line 132, ../sass/main_left.scss */
.con_lft {
  width: 630px;
  padding: 20px;
  -moz-box-shadow: #bbb 2px 1px 7px;
  -webkit-box-shadow: #bbb 2px 1px 7px;
  box-shadow: #bbb 2px 1px 7px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  float: left;
  margin-left: 170px;
  background: #fff;
}
/* line 140, ../sass/main_left.scss */
.con_lft h3 {
  text-align: center;
  font-size: 22px;
  font-weight: normal;
  padding-top: 20px;
  color: #666;
}

/* line 148, ../sass/main_left.scss */
.con_lft_ani {
  width: 100%;
  position: relative;
  padding: 120px 0;
  margin-top: 40px;
}

/* line 154, ../sass/main_left.scss */
.con_lft_tab {
  width: 100%;
  border: 1px solid #ececec;
  margin-bottom: 25px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #d4d4d4 0 0 8px;
  -webkit-box-shadow: #d4d4d4 0 0 8px;
  box-shadow: #d4d4d4 0 0 8px;
}

/* line 162, ../sass/main_left.scss */
.tab_one, .tab_two {
  float: left;
  width: 50%;
  text-align: center;
  color: #666;
  font-size: 17px;
  padding: 5px 0;
  cursor: pointer;
}

/* line 171, ../sass/main_left.scss */
.tab_one {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

/* line 174, ../sass/main_left.scss */
.tab_two {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 177, ../sass/main_left.scss */
.con_icon_one, .con_icon_two, .con_icon_three {
  float: left;
  width: 150px;
  padding-left: 43px;
  margin-top: 20px;
}
/* line 182, ../sass/main_left.scss */
.con_icon_one img, .con_icon_two img, .con_icon_three img {
  float: left;
  position: relative;
  top: -8px;
  left: -7px;
  background: rgba(0, 0, 0, 0.05);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 190, ../sass/main_left.scss */
.con_icon_one p, .con_icon_two p, .con_icon_three p {
  font-size: 15px;
  color: #666;
}
/* line 193, ../sass/main_left.scss */
.con_icon_one p span, .con_icon_two p span, .con_icon_three p span {
  color: #f4aa28;
  font-size: 18px;
}

/* line 200, ../sass/main_left.scss */
.con_icon_one {
  margin-left: 40px;
}

/* line 203, ../sass/main_left.scss */
.tab_active {
  background: #85c51f;
  color: #fff;
}

/* line 208, ../sass/main_left.scss */
.tab_one_show .svg_pic1 {
  padding-top: 20px;
  float: left;
  position: relative;
}
/* line 213, ../sass/main_left.scss */
.tab_one_show .svg_pic1 .pic1_title h4 {
  font-size: 17px;
  font-weight: bold;
  color: #666;
  position: absolute;
  top: 113px;
  left: 110px;
}
/* line 221, ../sass/main_left.scss */
.tab_one_show .svg_pic1 .pic1_title p {
  position: absolute;
  top: 134px;
  left: 123px;
  font-size: 13px;
  color: #666;
}
/* line 227, ../sass/main_left.scss */
.tab_one_show .svg_pic1 .pic1_title p span {
  color: #f5b036;
  font-size: 18px;
}
/* line 233, ../sass/main_left.scss */
.tab_one_show .svg_pic1 span {
  font-size: 12px;
  color: #666;
}
/* line 238, ../sass/main_left.scss */
.tab_one_show .svg_pic2 {
  width: 40%;
  float: left;
  margin-left: 40px;
  padding-top: 40px;
}
/* line 243, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire {
  color: #666;
  font-size: 14px;
  margin-left: 20px;
}
/* line 248, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one {
  position: relative;
  left: -30px;
}
/* line 251, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_data {
  color: #666;
  font-size: 16px;
}
/* line 254, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_data .data1 {
  position: absolute;
  top: 105px;
  left: 69px;
}
/* line 259, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_data .data2 {
  position: absolute;
  top: 113px;
  left: 112px;
}
/* line 264, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_data .data3 {
  position: absolute;
  top: 115px;
  left: 150px;
}
/* line 269, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_data .data4 {
  position: absolute;
  top: 48px;
  left: 176px;
}
/* line 274, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_data .data5 {
  position: absolute;
  top: 117px;
  left: 225px;
}
/* line 280, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_day {
  color: #666;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}
/* line 286, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_one .fire_day span {
  padding-left: 2px;
}
/* line 291, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two {
  position: relative;
  left: -30px;
}
/* line 294, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_data {
  color: #666;
  font-size: 16px;
}
/* line 297, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_data .data1 {
  position: absolute;
  top: 105px;
  left: 73px;
}
/* line 302, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_data .data2 {
  position: absolute;
  top: 97px;
  left: 118px;
}
/* line 307, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_data .data3 {
  position: absolute;
  top: 49px;
  left: 164px;
}
/* line 312, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_data .data4 {
  position: absolute;
  top: 114px;
  left: 215px;
}
/* line 318, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_day {
  color: #666;
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 69px;
}
/* line 324, ../sass/main_left.scss */
.tab_one_show .svg_pic2 .fire_svg_pic_two .fire_day span {
  padding-right: 11px;
}

/* line 331, ../sass/main_left.scss */
.sport_tab {
  float: left;
}
/* line 334, ../sass/main_left.scss */
.sport_tab ul .active {
  color: #f4aa28;
  background: #fff;
  border: 1px solid #ccc;
  border-right-color: #fff;
}
/* line 339, ../sass/main_left.scss */
.sport_tab ul .active a {
  color: #f4aa28;
}
/* line 343, ../sass/main_left.scss */
.sport_tab ul li {
  width: 45px;
  background-color: #f4aa28;
  font-size: 14px;
  color: #fff;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 7px 13px;
  margin-top: 10px;
}
/* line 351, ../sass/main_left.scss */
.sport_tab ul li a {
  text-decoration: none;
  color: #fff;
}

/* line 358, ../sass/main_left.scss */
.sport_pic {
  float: left;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #ccc;
  width: 550px;
  height: 412px;
  margin-top: 9px;
  margin-left: -2px;
}
/* line 366, ../sass/main_left.scss */
.sport_pic .day {
  margin-left: 120px;
  margin-top: 5px;
}
/* line 370, ../sass/main_left.scss */
.sport_pic .day .d_active p {
  background: #85c51f;
  color: #fff;
}
/* line 373, ../sass/main_left.scss */
.sport_pic .day .d_active p span {
  border-color: #85c51f transparent transparent transparent;
}
/* line 378, ../sass/main_left.scss */
.sport_pic .day div {
  cursor: pointer;
  float: left;
  margin-left: 30px;
  padding-bottom: 20px;
}
/* line 383, ../sass/main_left.scss */
.sport_pic .day div p {
  background: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 0 2px 10px;
  font-size: 15px;
  color: #333;
}
/* line 389, ../sass/main_left.scss */
.sport_pic .day div p span {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 6px 0 6px;
  border-color: #fff transparent transparent transparent;
  position: relative;
  top: 29px;
  left: -20px;
}
/* line 403, ../sass/main_left.scss */
.sport_pic .pic .pic_no_sport, .sport_pic .pic .pic_no_weight, .sport_pic .pic .pic_no_bldPre, .sport_pic .pic .pic_no_bldSug {
  position: relative;
  width: 80%;
  color: #FFA300;
  text-align: center;
  font-size: 24px;
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 30px;
  -moz-animation: mymove 8s linear 1s infinite;
  -webkit-animation: mymove 8s linear 1s infinite;
  animation: mymove 8s linear 1s infinite;
}
/* line 415, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_title {
  text-align: center;
  color: #666;
  font-weight: bold;
}
/* line 420, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main {
  position: relative;
  top: -25px;
}
/* line 423, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_comment {
  font-size: 11px;
  position: absolute;
}
/* line 427, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table {
  border: 1px solid #eee;
  border-left-color: #000;
  border-bottom-color: #000;
  width: 424px;
  height: 180px;
  position: absolute;
  top: 59px;
  left: 56px;
}
/* line 437, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_one {
  border: 1px solid #ccc;
  border-right-color: #fff;
  height: 100%;
  width: 0px;
  margin-left: 54px;
  margin-top: -183px;
}
/* line 446, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_two {
  border: 1px solid #ccc;
  border-right-color: #fff;
  height: 100%;
  width: 0px;
  margin-left: 160px;
  margin-top: -183px;
}
/* line 455, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_three {
  border: 1px solid #ccc;
  border-right-color: #fff;
  height: 100%;
  width: 0px;
  margin-left: 267px;
  margin-top: -183px;
}
/* line 464, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_four {
  border: 1px solid #ccc;
  border-right-color: #fff;
  height: 100%;
  width: 0px;
  margin-left: 373px;
  margin-top: -183px;
}
/* line 473, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_one, .sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_two, .sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_three, .sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_four {
  width: 140px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  position: absolute;
}
/* line 479, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_one span, .sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_two span, .sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_three span, .sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table .data_show_four span {
  font-size: 12px;
  padding-left: 5px;
  font-weight: bold;
}
/* line 488, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .svg_table_data span {
  position: absolute;
  height: 100%;
  width: 40px;
  font-size: 11px;
  color: #666;
}
/* line 496, ../sass/main_left.scss */
.sport_pic .pic .svg_bldPre .svg_bldPre_main .table_day {
  position: absolute;
  bottom: 48px;
  font-size: 12px;
}

/* line 506, ../sass/main_left.scss */
.hide {
  display: none;
}

@-moz-keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 130px;
  }
  100% {
    top: 0px;
  }
}
@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 130px;
  }
  100% {
    top: 0px;
  }
}
@keyframes mymove {
  0% {
    top: 0px;
  }
  50% {
    top: 130px;
  }
  100% {
    top: 0px;
  }
}
/* line 2, ../sass/main_right.scss */
.con .con_rgt {
  width: 300px;
  float: left;
  margin-left: 30px;
}
/* line 6, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top {
  background: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: #bbb 0px 1px 1px;
  -webkit-box-shadow: #bbb 0px 1px 1px;
  box-shadow: #bbb 0px 1px 1px;
  margin-bottom: 15px;
}
/* line 11, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top h3 {
  text-align: center;
  color: #f4aa28;
  font-weight: normal;
  font-size: 19px;
  padding-top: 20px;
}
/* line 18, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top h3 img {
  position: relative;
  top: 5px;
}
/* line 23, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top ul {
  text-align: center;
  margin-top: 15px;
}
/* line 26, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top ul li {
  font-size: 16px;
}
/* line 31, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all {
  padding-bottom: 30px;
}
/* line 33, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details {
  margin-bottom: 7px;
}
/* line 35, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details .num {
  margin-left: 35px;
  float: left;
  padding: 10px 20px;
  color: #fb742a;
  font-size: 15px;
  background: url("../images/medal.png") no-repeat 6px 6px;
}
/* line 44, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details i img {
  margin-top: 8px;
  width: 10%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 51, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details .name {
  float: right;
  margin-right: 30px;
  margin-top: 5px;
}
/* line 55, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details .name p {
  padding-bottom: 2px;
  color: #666;
  font-size: 14px;
}
/* line 59, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details .name p span {
  font-size: 13px;
  color: #9dd542;
  margin-left: 40px;
}
/* line 65, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details .name .progress {
  background: #c6e5f1;
  height: 10px;
  width: 134px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 70, ../sass/main_right.scss */
.con .con_rgt .con_rgt_top .all .details .name .progress .bar {
  background: #2aa8d7;
  height: 100%;
  width: 60%;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* line 83, ../sass/main_right.scss */
.con .con_rgt_top ul li {
  display: inline-block;
  background: #f3f3f3;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #666;
  padding: 4px 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

/* line 92, ../sass/main_right.scss */
.con .con_rgt_top ul li.con_active {
  background: #7ebf12;
  color: #fff;
}

/* line 96, ../sass/main_right.scss */
.con_rgt_grade {
  -moz-box-shadow: #ccc 0px 1px 4px;
  -webkit-box-shadow: #ccc 0px 1px 4px;
  box-shadow: #ccc 0px 1px 4px;
  background: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 100, ../sass/main_right.scss */
.con_rgt_grade h3 {
  padding-top: 10px;
  margin-bottom: 18px;
  text-align: center;
  color: #85c51f;
  font-weight: normal;
  font-size: 19px;
}
/* line 109, ../sass/main_right.scss */
.con_rgt_grade .grade_pic {
  width: 97%;
  margin: 0 auto;
  height: 160px;
  background: #deeeeb;
}
/* line 115, ../sass/main_right.scss */
.con_rgt_grade .grade_pic .pic_title h3 {
  color: #f4aa28;
  position: relative;
  top: -129px;
  left: 8px;
  font-size: 27px;
}
/* line 122, ../sass/main_right.scss */
.con_rgt_grade .grade_pic .pic_title p {
  color: #11a385;
  position: relative;
  top: -146px;
  left: 110px;
  font-size: 16px;
}
/* line 132, ../sass/main_right.scss */
.con_rgt_grade .grade_show {
  padding: 20px 0;
}
/* line 134, ../sass/main_right.scss */
.con_rgt_grade .grade_show div {
  margin-top: 13px;
  font-size: 14px;
  color: #555;
}
/* line 138, ../sass/main_right.scss */
.con_rgt_grade .grade_show div .grade_show_pic {
  float: left;
  margin: 0 10px;
  width: 46%;
  height: 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #f3f3f3;
  position: relative;
  margin-top: 4px;
}
/* line 148, ../sass/main_right.scss */
.con_rgt_grade .grade_show div .label {
  float: left;
  margin-left: 5px;
}

/* line 155, ../sass/main_right.scss */
.psg {
  margin-left: 8px;
}
/* line 157, ../sass/main_right.scss */
.psg h4 {
  margin-top: 35px;
  color: #79a427;
  font-size: 19px;
  font-weight: normal;
  text-shadow: 1px 1px 3px rgba(121, 164, 39, 0.38);
}
/* line 164, ../sass/main_right.scss */
.psg p {
  font-size: 14px;
  color: #666;
  margin: 19px 0;
}
/* line 168, ../sass/main_right.scss */
.psg p a {
  text-decoration: none;
  color: #85c51f;
}

/* line 1, ../sass/foot.scss */
.footer {
  border-top: 5px solid #709e18;
  margin-top: 50px;
  width: 100%;
  height: 100px;
  background: #c9d9b3;
}
/* line 7, ../sass/foot.scss */
.footer .foot_link {
  padding-top: 10px;
}
/* line 10, ../sass/foot.scss */
.footer .foot {
  color: #666;
  font-size: 12px;
}
/* line 14, ../sass/foot.scss */
.footer p {
  text-align: center;
  margin: 10px 0;
}
/* line 17, ../sass/foot.scss */
.footer p a {
  font-family: "SimSun" !important;
  text-decoration: none;
  color: #709e18;
  font-size: 18px;
  text-align: center;
  margin-right: 26px;
}
